<div class="about">
    <div class="container">
        <br><br><br>
        <hr />
        <div class="row justify-content-center">
            <div>
                <h2 class="display"> OUR HEALTH INSURANCE PLANS COVER CORONAVIRUS</h2>
                <br><br>
            </div>

        </div>
        <div class="row">

            <div class="col">
                <img src="assets/images/about1.jpg" alt="coverage" class="product-image" />
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <div>
                        <h6>
                            Coronavirus is highly contagious, which has caused to it proliferate and spread to all
                            corners of the world. This disease can cause severe problems that require extensive and
                            continuous treatment and exhaust your financial backup. While it is extremely important to
                            exercise caution, another form of assistance would be buying a health insurance policy.
                            With a comprehensive coverage offered by our plans, you can rest assured knowing that
                            medical expenses pertaining to COVID-19 are covered. Our health insurance plans cover
                            hospitalization, day care procedures, AYUSH treatment,
                            ambulance charges & offer quick claim settlements. Browse and select an adequate policy as
                            per your requirements to cover yourself, your family members, children, senior citizens &
                            expecting mothers to ensure that you are financially secure in these critical times.
                            We also offer a dedicated cover termed as the Corona Kavach Policy. Apart from the common
                            inclusions, this policy also extends coverage to pre-existing diseases, comorbid conditions,
                            home care and other expenses, as per the terms & conditions of the policy,
                            that fall under treatment for Coronavirus.
                        </h6><br>
                        <h6>
                            Here are the plans offered HEALTH CARE that cover Coronavirus:
                        </h6>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <a href="/customerpolicy/5">Arogya Sanjeevani Policy</a>
                            </li>
                            <li>
                                <a href="/customerpolicy/6">Corona Kavach Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <hr />
            <div class="row justify-content-center">
                <div>
                    <h2 class="display">
                        WHY SHOULD YOU BUY HEALTH INSURANCE FROM HEALTH CARE?</h2>
                    <br>
                </div>
                <div>
                    <h6>
                        When it comes to medical insurance, Health Care Insurance is
                        at the forefront with a diverse range of affordable health insurance plans in India.
                        They are customized to protect your savings from hospital bills.
                        We respect your time and money and our offerings reflect our commitment to you. Unfortunate
                        events can surprise you,
                        so it is important to safeguard your hard-earned funds
                        from being spent on heavy medical bills. We understand this and hence,
                        we offer you the following benefits with our health insurance plans:
                    </h6><br><br>
                </div>

            </div>
            <div class="row">

                <div class="col">
                    <div class="row justify-content-center">
                        <div>
                            <ul>
                                <li>
                                    <h6>
                                        Cashless claims facility at over 6,500+ hospitals across the country
                                    </h6><br>
                                </li>
                                <li>
                                    <h6>
                                        Cashless claim settlement within 60 minutes
                                    </h6><br>
                                </li>
                                <li>
                                    <h6>
                                        24*7 call assistance for claims settlement and all your health insurance related
                                        queries
                                    </h6><br>
                                </li>
                                <li>
                                    <h6>
                                        In-house Health Administration Team (HAT) for faster claims processing
                                    </h6><br>
                                </li>
                                <li>
                                    <h6>
                                        Maximum coverage at affordable rates
                                    </h6><br>
                                </li>
                                <li>
                                    <h6>
                                        Easy to buy/renew online insurance policies
                                    </h6><br>
                                </li>
                                <li>
                                    <h6>
                                        Access to better medical care with our wide range
                                        of Network Hospitals all over the country
                                    </h6><br>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        <img src="assets/images/about2.png" alt="coverage" class="product-image" />
                    </div>
                </div>
            </div>

        </div>
        <div>
            <hr />
            <div class="row justify-content-center">
                <div>
                    <h2 class="display">HEALTH INSURANCE COVERAGE</h2>
                    <br>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card text-center" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/about3.png" alt="Card image cap">
                            <div class="card-body">
                                <h5>IN PATIENT HOSPITALIZATION</h5>
                                <p class="card-text">
                                    Our health insurance policies cover you for the expenses related to any medical
                                    treatment that you receive in a hospital for any illness,
                                    accident and injury with utmost care.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">

                        <div class="card text-center" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/about4.png" alt="Card image cap">
                            <div class="card-body">
                                <h6>
                                    PRE & POST HOSPITALIZATION EXPENSES
                                </h6>
                                <p class="card-text">
                                    You are covered for pre and post hospitalization expenses up to 60 days and 90 days
                                    respectively.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card text-center" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/about5.png" alt="Card image cap">
                            <div class="card-body">
                                <h6>
                                    ORGAN DONOR EXPENSES
                                </h6>
                                <p class="card-text">
                                    Donating an organ to save someone’s life is a noble cause and we
                                    at Health Care support you.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div>
            <hr />
            <div class="row justify-content-center">
                <div>
                    <h2 class="display">HEALTH INSURANCE PREMIUM</h2>
                    <br>
                </div>
                <div>
                    <h6>
                        Health insurance premium is the amount you pay to your health insurance provider so that you
                        have a well-planned financial
                        aid in case of a medical emergency. In other words, health insurance premium is the periodic
                        (generally annual) payment you make to your health insurance company in order to avail
                        their services for health related expenses. Different health insurance policies have different
                        health insurance premiums depending upon the coverages offered by them.
                        Health insurance premium is one of the major factors that you should consider before buying any
                        health insurance plans. You can easily find out an estimate of
                        your health insurance quotes or premium that you would be paying towards your health insurance
                        policy by using
                        Health Care’s free health insurance calculator to get health insurance quotes.
                    </h6>
                </div>
            </div>
        </div>
    </div>

</div>