<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Health Care</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
 
        <li class="nav-item active" *ngIf="userAuthService.isUserLoggedIn()">
          <a class="nav-link" href="#">Welcome {{userName}}!</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item" *ngIf="!userAuthService.isUserLoggedIn()">
          <button type="button" (click)="signUpBtn()" class="btn btn-link">SignUp</button>
        </li>
        <li class="nav-item" *ngIf="userAuthService.isUserLoggedIn()">
          <button type="button" (click)="profileBtn()" class="btn btn-link">Profile</button>
        </li>
        <li class="nav-item" *ngIf="userAuthService.isUserLoggedIn()">
          <button type="button" (click)="aboutBtn()" class="btn btn-link">About</button>
        </li>
        <li class="nav-item" *ngIf="userAuthService.isUserLoggedIn()">
          <button type="button" (click)="portfolioBtn()" class="btn btn-link">Portfolio</button>
        </li>
        <li class="nav-item" *ngIf="userAuthService.isUserLoggedIn()">
          <button type="button" (click)="contactBtn()" class="btn btn-link">Contact</button>
        </li>
        <li class="nav-item" *ngIf="userAuthService.isUserLoggedIn()">
          <button type="button" (click)="logoutBtn()" class="btn btn-link">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>