<div class="portfolio">

    <div class="container">
        <br><br><br>
        <hr />
        <div class="row">
            <div class="col">
                <img src="assets/images/portfolio1.jpg" alt="coverage" class="product-image" />
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <div>
                        <h2 class="display">WHAT IS A HEALTH INSURANCE POLICY?</h2>
                    </div>
                    <br/>
                    <div>
                        <h6>
                            Health insurance is like a financial security that you have for handling your medical
                            expenses.
                            Health insurance plans are like an investment that you make so that you can safeguard your
                            hard-earned funds from being spent
                            on expenses related to hospitalization,
                            medicines, ambulance, doctor’s consultation and more.
                            A health insurance policy can also be viewed as an agreement between you and your health
                            insurance company that binds them to
                            cover you financially in case of any medical emergency.
                        </h6>


                    </div>
                    <div>
                        <h6>
                            There are several types of health insurance plans in India.
                            And, you should choose the best health insurance policy for yourself and
                            your family so that you can relax when it comes to paying hefty medical bills.
                            You not only get covered for the medical expenses with your health insurance plans,
                            but also get facilities such as cashless treatment and quality health care at a reputed
                            network hospital.
                            Health insurance plans are like your friends that take away
                            your financial burden in case of hospital related exigencies.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <div class="row justify-content-center">
                <div>
                    <h2 class="display">WHAT IS THE NEED FOR HEALTH INSURANCE?</h2>
                </div>
               
                <div>
                    <br>
                    <h6>
                        An effective medical insurance policy is essential because the prices of medicines and hospital treatments are rising day by day.
                        If an accident or critical illness befalls you, 
                        it will cause a huge financial burden on you and your family. 
                        A hard-hitting truth is that whether your trip to hospital is planned or it comes as an unpleasant surprise, 
                        it is sure to cost you heavily. So, it’s better to have a protection of health insurance plans, that besides helping you manage your finances,
                        also offer you a several other benefits at very affordable premium rates. You can also check out various health insurance quotes
                        online to figure out which one is most suited to your budget.
                    </h6>
                    <h6>
                        Here are 5 reasons that will make you understand the importance of having the best health insurance plan:
                    </h6>
                </div>
                <div>
                    <br>
                    <ul>
                        <li>
                            <b>Financial Help :</b>
                            <h6>
                             Your health insurance policy will ease your burden of paying heavy medical bills from out of your pocket. 
                                You can save your hard-earned money for living your life to the fullest, instead of spending a huge part of it on medical care. 
                                If you are worried about the premium rates, then please be assured that you can get an adequate health insurance policy at very affordable premium costs.
                                You also get discounts like family discount, which will allow you to keep the medical insurance plan’s
                                coverage intact while paying a relatively low health insurance premium.
                            </h6>
                        </li>
                        <li>
                            <b>Quality Medical Care : </b>
                            <h6>
                                You can avail the benefit of cashless claims and quality medical care if you decide to get your treatment at a network hospital. 
                                A network hospital is a hospital that has an agreement with your health insurance company, which enables you to get 
                                the best treatment without having to shell out from your pocket.
                            </h6>
                        </li>
                        <li>
                            <b>Tax Saving : </b>
                            <h6>
                                In India, the payments you make towards your health insurance policies are eligible for tax deductions 
                                under section 80D of the Income Tax Act. You can avail the maximum deductions of
                                INR 1 lakh if you buy health insurance plans for yourself and your loved ones,
                                and if you and your parents are senior citizens.
                            </h6>
                        </li>
                        <li>
                            <b> Extensive Coverage :</b>
                            <h6>
                                Health insurance plans in India not only cover you for hospitalization expenses, 
                                but also provide cover against critical illnesses, accident-related, maternity, consultations, 
                                check-ups and other such medical expenses with different types of health insurance plans.
                            </h6>
                        </li>
                        <li>
                            <b> Peace of mind : </b>
                            <h6>
                                 If you are secured on the financial front, then even a trip to a hospital feels a little less stressed.
                                 Having a medical insurance gives you the peace of mind that can help you relax in a tense situation.
                            </h6>
                        </li>
                    </ul>
                </div>
                
                <div>
                    <hr/>
                    <div>
                        <h2 class="display">THINGS TO CONSIDER BEFORE BUYING A HEALTH INSURANCE POLICY</h2>
                    </div>
                    <br/>
                </div>
            </div>

        </div>
        
        <div>
            <div class="row">
                <div class="col">
                    <img src="assets/images/portfolio3.jpg" alt="coverage" class="policy-image" />

                </div>
                <div class="col">
                    <div class="row justify-content-center">
                       <div>
                           <h6>
                            You’re spoiled for choice when it comes to buying insurance because of the numerous health plans and covers available today. 
                            But, you need all the information
                            you can get before buying a medical insurance policy that suits your needs.
                           </h6><br>
                           <h6>
                            Here they are:
                           </h6><br>
                       </div>
                       <div>
                           <h6>
                            ✓   Always opt for adequate cover and ensure that it is sufficient for you and your entire family.
                           </h6><br>
                           <h6>
                            ✓   Nowadays, most employees are covered by their company’s medical insurance. However, 
                            it is always an added benefit to select and purchase your own medical insurance plan after knowing all the terms and conditions.
                           </h6><br>
                           <h6>
                            ✓   It’s ideal to combine hospital cash, critical illness and other benefits in your base cover to avail some form of compensation for non-payable losses.
                           </h6><br>
                           <h6>
                            ✓    Always inform your insurer about any pre-existing diseases.
                           </h6><br>
                           <h6>
                            ✓    Always keep a note of covers, maximum limits and waiting periods.
                           </h6><br>
                           <h6>
                            ✓    Make sure that you know the terms associated with health insurance such as deductible, cumulative bonus,
                             waiting period, pre-existing illness, free look period and more.
                           </h6><br>
                           <h6>
                            ✓    A higher sum insured is always better as there is a constant rise in the cost of medical expenses.
                           </h6><br>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>