<div class="Plan">
    <div class="container">
    <div class="row justify-content-around">
        
        <div class="col-6">
            <br><br>
            <img src="assets/images/Plan.jpg" class="product-image"/>
            <br><br>
        </div>
       
        <div class="col-4">
            
            <br><br><br><br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Want to know more?</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Health Insurance</h6>
                  <a href="/portfolio" class="card-link">Go to Portfolio-></a>
                </div>
              </div>

        </div>
        <div class="row align-items-center">
    
            <div class="jumbotron">
                <b><h1 class="display-4">Introducing Best Health Insurance Plans</h1></b>
                <img src="assets/images/Plan1.jpg" width="30%" height="180px"/>
                <p>Get a plan which best suits your insurance needs</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/adminpolicylist']" >View Plans-></a>
                </p>
              </div>
        </div>
    
      </div>
      <hr/>
      <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Cashless treatment at</h5>
                  <h6 class="card-subtitle mb-2 text-muted">6500 + network hospitals</h6>
                </div>
              </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="col-md-3">    
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">In-house</h5>
                  <h6 class="card-subtitle mb-2 text-muted">health administration team</h6>
                </div>
              </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="col-md-3">    
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Cashless Response Time</h5>
                  <h6 class="card-subtitle mb-2 text-muted">within 60 minutes</h6>
                </div>
              </div>
        </div>
    </div>
