.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    bottom: 270px;
  }
  
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
  
  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
    color: #fff;
  }
  
  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }

  .home{
      background-image: url("assets/images/home5.jpg");
      background-size: cover;
      height: 600px;

  }
  .login{
    background-image: url('assets/images/bg2.jpg');
    background-size: cover; 
    height: 600px; 
  }
  .register{
    background-image: url('assets/images/bg2.jpg');
    background-size: cover; 
    height: 700px; 
  }
  .display-4{
      color: orange;
  }
  .benefit{
    color: orange;
  }
  .Plan{
    background-image: url('assets/images/bg1.jpg');
    background-size: cover; 
    height: 1200px;
  }
  .policy{
    background-image: url('assets/images/bg2.jpg');
    background-size: cover; 
    height: 1700px;

  }
  .policy-detail{
    background-image: url('assets/images/bg2.jpg');
    background-size: cover; 
    height: 1300px;

  }
  .policy-name{
      color:orange;
  }
  .portfolio{
    background-image: url('assets/images/bg2.jpg');
    background-size: cover; 
    height: 2000px;
  }
  .display{
    color: orange;
  }
  .about{
    background-image: url('assets/images/bg2.jpg');
    background-size: cover; 
    height: 2100px;
  }
  .contact{
    background-image: url('assets/images/contactbg.jpg');
    background-size: cover; 
    height: 800px;
  }
  .details{
    height: 170px;
    padding: 10px;
    cursor: pointer;
  }
  .profile{
    height: 100%;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .user-profile{
    background-image: url('assets/images/bg2.jpg');
    background-size: cover; 
    height: 600px;
  }
.update-user{
  background-image: url('assets/images/bg2.jpg');
  background-size: cover; 
  height: 900px; 
}
.list{
  color: red;
}